# Auto detect text files and perform LF normalization
*        text=auto

*.cs     text diff=csharp
*.java   text diff=java
*.html   text diff=html
*.py     text diff=python
*.pl     text diff=perl
*.pm     text diff=perl
*.css    text
*.js     text
*.sql    text

*.sh     text eol=lf

*.bat    text eol=crlf
*.cmd    text eol=crlf
*.vcxproj text merge=union eol=crlf
*.csproj text merge=union eol=crlf
*.sln    text merge=union eol=crlf


/.project
*target*
*.war
*.ear
# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

.idea/*


*.log
*.log.*
.idea/
logs/
server/logs/
server/src/test/
.classpath
=======
/target/
/.settings/
.classpath
.project


*.iml




